@model PDMS.UI.Models.ForgotPasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}

 <h2>Forgot Password Form: </h2>
 @if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible" style="margin-top:20px">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        @ViewBag.Message
    </div>
}
  <div class="flex h-screen">
    <div class="m-auto">
        @using (Html.BeginForm("ForgotPassword", "ResetPassword", FormMethod.Post, new { @class = "bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4" }))
        {
            <div class="container">
                <br>
                <p><b>Please enter your details:</b></p>
                <div class="row"> 
                    @Html.LabelFor(m => m.Username, new { @class = "col-sm-2"})
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-sm-3", placeholder = "Email id" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div><br/>
                <button class="btn btn-primary mr-1" type="submit">Get Reset Link</button> 
                <br/><br/>   
            </div>          
            <p>Problem Logging in! Please contact us.<br>
            <b>Email: </b>hello@tmmjconsulting.com.au<br>
            <b>Phone: </b>+61 (03) 5309 0469 </p>
        }
    </div>
  </div>
